{% extends 'base.html' %}

{% block main %}

Deletar
<form method="POST">
    {% csrf_token %}
    <h2>Você está certo que quer deletar {{ obj }}</h2>
    {{ form }}

     <button type="submit" class="btn btn-danger">Confirmar</button>
</form>

{% endblock %}