{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col-sm">
        Mudanças feitas aqui
        <br>
    </div>
    <div class="col-sm">
        ola {{ usuario.funcionario.nome }}
        <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionários</a>
        <a href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a>
    </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}"> Logout</a>
        
        {% if usuario.funcionario.empresa %}
            <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>

        {% else %}
            <a href="{% url 'create_empresa' %}">Criar Empresa</a>
        {% endif %}
        
    </div>
</div>
{% endblock %}